State(
    step: 7999488,
    restart: 0,
    next_eval_step: None,
    agent: "<blob:msgpack>",
    value_function: None,
    optimizer: "<blob:msgpack>",
    vf_optimizer: None,
    obs_space: ObsSpace(
        global_features: [],
        entities: {
            "FighterFeats": Entity(
                features: [
                    "x",
                    "y",
                    "dx",
                    "dy",
                    "direction_x",
                    "direction_y",
                    "remaining_time",
                    "gun_cooldown",
                ],
            ),
            "AsteroidFeats": Entity(
                features: [
                    "health",
                    "radius",
                    "x",
                    "y",
                    "dx",
                    "dy",
                ],
            ),
            "BulletFeats": Entity(
                features: [
                    "x",
                    "y",
                    "dx",
                    "dy",
                    "lifetime",
                ],
            ),
        },
    ),
    action_space: {
        "FighterAction": CategoricalActionSpace(
            index_to_label: [
                "TurnLeft",
                "TurnRight",
                "Thrust",
                "Shoot",
            ],
        ),
    },
)