TrainConfig(
    version: 3,
    env: (
        id: "BevyDogfight",
        kwargs: "{\"frameskip\": 4, \"act_interval\": 12}",
    ),
    net: (
        translation: (
            reference_entity: "Fighter",
            position_features: ["x", "y"],
            rotation_vec_features: ["direction_x", "direction_y"],
        )
    ),
    eval: (
        interval: 4000000,
        num_envs: 512,
        steps: 1000,
        opponent: "assets/policies/versus2-64m",
        env: (
            id: "BevyDogfight",
            kwargs: "{\"frameskip\": 4, \"act_interval\": 12}",
        )
    ),
)
